name: Test Compute Workflow
on: [push]

jobs:
  test:
    strategy:
      matrix:
        # from: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#choosing-github-hosted-runners
        include:
        - os: ubuntu-24.04
        - os: ubuntu-22.04
        - os: ubuntu-20.04
        - os: macos-14
        - os: macos-13
        - os: windows-2022
        - os: windows-2019
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Fastly CLI
      uses: ./setup
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
